[submodule "submodules/diff-gaussian-rasterization/diff-gaussian-rasterization"]
	path = submodules/diff-gaussian-rasterization/diff-gaussian-rasterization
	url = https://github.com/graphdeco-inria/diff-gaussian-rasterization
